{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge" />
		<title>Beach Locator</title>
		<meta
			name="description"
			content="Simple landind page" />
		<meta
			name="keywords"
			content="" />
		<meta
			name="author"
			content="" />
		{% tailwind_css %}
		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}" />
		<link
			href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
		<!-- Define your gradient here - use online tools to find a gradient matching your branding-->
		<style>
			.gradient {
				background: white;
			}
		</style>
	</head>
	<body
		class="leading-normal tracking-normal text-black bg"
		style="font-family: 'Source Sans Pro', sans-serif">
		<!--Nav-->
		{% include 'includes/nav.html' %}
		<!--Hero-->
		<div class="p-4 sm:p-36 mt-36 sm:mt-14">
			<div class="container px-3 flex flex-wrap flex-col md:flex-row items-center justify-between">
				<!--Left Col-->
				<div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
					<p class="uppercase tracking-loose w-full">Welcome</p>
					<h1 class="my-4 text-5xl font-bold leading-tight">Customer</h1>
					<p class="leading-normal text-2xl mb-8">
						Whether you're planning a relaxing day by the sea or an adventurous coastal getaway, Beach Locator is here
						to help you discover the perfect beach spot.
					</p>
					<a
						href="{% url 'login' %}"
						class="mx-auto lg:mx-0 hover:underline bg-green-700 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
						Login
					</a>
				</div>
				<!--Right Col-->
				<div class="w-full md:w-3/5 py-6 text- flex justify-end">
					<img
						class="w-full md:w-[80%] rounded-full"
						src="{% static 'image/logo.jpg' %}" />
				</div>
			</div>
		</div>
		
	</body>
</html>
