{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>List of Customers</title>

		{% tailwind_css %}
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
	</head>
	<body>
		{% include 'includes/mainNavbar.html' %}

		<div class="p-4 mt-24">
			{% for message in messages %} {% if message.level_tag == 'success' %}
			<p class="text-left text-blue-400 font-bold mt-4 mb-4 text-md">{{message}}</p>
			{% else %}
			<p class="text-left text-red-400 font-bold mt-4 mb-4 text-md">{{message}}</p>
			{%endif%} {% endfor %}

			<p class="text-gray-800 mb-4 font-bold text-2xl">Customer Lists</p>

			<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left rtl:text-right text-gray-500">
					<thead class="text-xs text-white uppercase bg-blue-700">
						<tr>
							<th
								scope="col"
								class="px-6 py-3">
								name
							</th>
							<th
								scope="col"
								class="px-6 py-3">
								Contact
							</th>

							<th
								scope="col"
								class="px-6 py-3">
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						{% for user in customers %}
						<tr class="bg-white even:bg-blue-200">
							<td
								scope="row"
								class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
								{{user.first_name}}
							</td>
							<td class="px-6 py-4">{{user.profile.contact}}</td>
							
							<td class="px-6 py-4">
								{% if user.is_staff == True %}
								<a
									href="{% url 'declineUser' user.id %}"
									class="font-medium text-blue-600 hover:underline mx-2">
									<i
										class="fa fa-check-circle"
										aria-hidden="true"></i>
									User ccepted
								</a>

								{% else %}
								<a
									href="{% url 'acceptUser' user.id %}"
									class="font-medium text-red-600 hover:underline mx-2">
									<i
										class="fa fa-times-circle"
										aria-hidden="true"></i>
									User Declined
								</a>
								{% endif %}
								<a
									href="{% url 'removeUser' user.id %}"
									class="font-medium text-red-600 hover:underline mx-2">
									<i
										class="fa fa-trash"
										aria-hidden="true"></i>
									Remove
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<p class="text-gray-800 mb-4 font-bold text-2xl mt-24">Business Owner Lists</p>

			<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left rtl:text-right text-gray-500">
					<thead class="text-xs text-white uppercase bg-blue-700">
						<tr>
							<th
								scope="col"
								class="px-6 py-3">
								name
							</th>
							<th
								scope="col"
								class="px-6 py-3">
								Contact
							</th>
							<th
								scope="col"
								class="px-6 py-3">
								Email
							</th>
							<th
								scope="col"
								class="px-6 py-3">
								Resort Address
							</th>
							<th
								scope="col"
								class="px-6 py-3">
								Resort Name
							</th>

							<th
								scope="col"
								class="px-6 py-3">
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						{% for list in businessOwners %}
						<tr class="bg-white even:bg-blue-200">
							<td
								scope="row"
								class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
								{{list.first_name}}
							</td>
							<td class="px-6 py-4">{{list.profile.contact}}</td>
							<td class="px-6 py-4">{{list.profile.email}}</td>
							<td class="px-6 py-4">{{list.profile.location}}</td>
							<td class="px-6 py-4">{{list.profile.business_name}}</td>
							<td class="px-6 py-4">
								{% if list.is_staff == True %}
								<a
									href="{% url 'declineUser' list.id %}"
									class="font-medium text-blue-600 hover:underline mx-2">
									<i
										class="fa fa-check-circle"
										aria-hidden="true"></i>
									User ccepted
								</a>

								{% else %}
								<a
									href="{% url 'acceptUser' list.id %}"
									class="font-medium text-red-600 hover:underline mx-2">
									<i
										class="fa fa-times-circle"
										aria-hidden="true"></i>
									User Declined
								</a>
								{% endif %}
								<a
									href="{% url 'removeUser' list.id %}"
									class="font-medium text-red-600 hover:underline mx-2">
									<i
										class="fa fa-trash"
										aria-hidden="true"></i>
									Remove User
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>
